* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.box {
    width: auto;
    height: auto;
    background-color: orange;
    margin-top: 20vh;
    text-align: center;
    padding: 10px;
    position: relative;
    border-radius: 20px;
    border: 2px;
    border-color: black;
    border-style: double;
}

input {
    border: groove;
    border-color: black;
    font-size: 30px;
    margin: 10px;
    visibility: hidden;
    border-radius: 20px;
}

button {
    transition: all 300ms;
    display: inline-block;
    right: 0;
    background-color: inherit;
    border: none;
}

.add{
    visibility: hidden;
}

.del{
    visibility: hidden;
    transform: all 300ms;
}

.del:hover{
    transform: scale(1.2);
    color: red;
}

.del:active {
    transform: scale(1.1);
}

.bt1.act,
.bt2.act,
.bt3.act,
.bt4.act {
    transform: rotate(-40deg) scale(0.9);
    color: green;
}

/* hr {
    height: 2px;
    width: 520px;
    background-color: white;
    box-sizing: content-box;
    box-shadow: none;
} */



i {
    font-size: 24px;
    transition: all 300ms;
}

i:hover {
    transform: scale(1.3);
}

i:active {
    transform: scale(1);
    color: rgb(117, 117, 117);
}

li{
    background-color: aliceblue;
    width: 200px;
    border-radius: 10px;
    list-style: decimal-leading-zero ;
    margin: 10px;
    margin-left: 32%;
}

.list{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.add:hover{
    color: rgb(2, 106, 18);
}